<mat-toolbar style="background-color: white">
    <span>Edit Issue</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button color="warn" (click)="onClose()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="authService.myForm" class="normal-form">
    <mat-grid-list cols="2" rowHeight="350px" >
        <mat-grid-tile>
            <div class="controlles-container">

                <mat-form-field>
                   
                    <mat-select name="name" #pearsonName placeholder="Name" formControlName="name"
                        required>
                        <!-- <mat-option>None</mat-option> -->
                        <!-- <ng-container *ngFor="let name of names"> -->
                            <mat-option value="{{pearson.name}}">{{pearson.name}}</mat-option>
                        <!-- </ng-container> -->
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <!-- <input matInput name="username" #pearsonUsername type="text" pattern="[A-Za-z]{6,}" placeholder="Username" 
                    formControlName="username" required username> -->
                    <mat-select name="username" #pearsonUsername placeholder="Userame" formControlName="username"
                    pattern="[A-Za-z]{6,}" required>
                        <!-- <mat-option>None</mat-option> -->
                        <!-- <ng-container *ngFor="let username of usernames"> -->
                            <mat-option value="{{pearson.username}}">{{pearson.username}}</mat-option>
                        <!-- </ng-container> -->
                    </mat-select>   
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <!-- <input matInput name="email" #pearsonEmail placeholder="Email" formControlName="email" required email> -->
                    <mat-select name="email" #pearsonEmail placeholder="Email" formControlName="email"
                        required>
                            <!-- <mat-option>None</mat-option> -->
                            <!-- <ng-container *ngFor="let email of emails"> -->
                                <mat-option value="{{pearson.email}}">{{pearson.email}}</mat-option>
                            <!-- </ng-container> -->
                    </mat-select>   
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <!-- <input matInput name="location" #pearsonLocation placeholder="Location" formControlName="location" required location> -->
                    <mat-select matInput name="location" #pearsonLocation placeholder="Location"
                        formControlName="location" required location>
                        
                        <ng-container >
                            <!-- <mat-option>None</mat-option>
                            <mat-option [value] = 1 (click)="onCreate()">Add New</mat-option> -->
                            
                            <mat-option *ngFor="let location of locations" value="{{location.locname}}">{{location.locname}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <input matInput name="hireDate" #pearsonDate placeholder="Date" [matDatepicker]="picker" formControlName="hireDate" required hireDate>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Required field.</mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controlles-container">

                <mat-form-field>
                    <mat-select name="type" #pearsonType placeholder="Type" formControlName="type" required type>
                        <ng-container *ngFor="let type of types">
                            <mat-option value="{{type.value}}">{{type.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <mat-select name="severity" #pearsonSeverity placeholder="Severity" formControlName="severity" required severity>
                        <ng-container *ngFor="let severity of severity1">
                            <mat-option value="{{severity.value}}">{{severity.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <mat-select name="status" #pearsonStatus placeholder="Status" formControlName="status" required status>
                       <ng-container *ngFor="let status of status1">
                            <mat-option value="{{status.value}}">{{status.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <input matInput name="description" #pearsonDescription placeholder="Description" formControlName="description" required description>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <input matInput name="comment" #pearsonComment placeholder="Comment" formControlName="comment">
                </mat-form-field>
               
            </div>
            
        </mat-grid-tile>
    </mat-grid-list>
    <button mat-raised-button color="primary" type="submit" 
        [disabled]="authService.myForm.invalid" 
        (click)="updatePearson(pearsonName.value, pearsonUsername.value, 
            pearsonEmail.value, pearsonLocation.value, pearsonDate.value, pearsonType.value, 
            pearsonSeverity.value, pearsonStatus.value, pearsonDescription.value, pearsonComment.value)">
            Submit
        </button>
        <!-- <button mat-raised-button color="warn" (click)="onClear()">Clear</button> -->
    
</form>