<mat-toolbar>
    <span>Edit Issue</span>
    <span class="fill-remaining-space"></span>
    <button mat-stroked-button  (click)="onClose()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px" *ngIf="pearson">
        <mat-grid-tile>
            <div class="controlles-container">
                <input type="hidden">
                <mat-form-field>
                    <input matInput name="name" placeholder="Name" [(ngModel)]="pearson.name" #name="ngModel" required>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput name="username" type="text" pattern="[A-Za-z]{6,}" placeholder="Userame" [(ngModel)]="pearson.username" #username="ngModel" required username>
                    <mat-error>At least six english letters.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput name="email" placeholder="Email" [(ngModel)]="pearson.email" #email="ngModel" required email>
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput name="location" placeholder="Location" [(ngModel)]="pearson.location" #location="ngModel" required location>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput name="hireDate" [matDatepicker]="picker" placeholder="Hire Date" [(ngModel)]="pearson.hireDate" #hireDate="ngModel" required hireDate>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Required field.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controlles-container">
                <mat-form-field>
                    <mat-select name="severity" placeholder="Severity" [(ngModel)]="pearson.severity" #severity="ngModel" required severity>
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let severity of severity1">
                            <mat-option value="{{severity.value}}">{{severity.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-select name="status" placeholder="Status" [(ngModel)]="pearson.status" #status="ngModel" required status>
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let status of status1">
                            <mat-option value="{{status.value}}">{{status.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput name="description" placeholder="Description" [(ngModel)]="pearson.description" #description="ngModel" required description>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput name="comment" placeholder="Comment" [(ngModel)]="pearson.comment" #comment="ngModel">
                </mat-form-field>

                <div class="button-row">
                    <!-- <button mat-raised-button color="primary" type="submit" 
                        [disabled]="name.invalid || username.invalid || email.invalid || location.invalid 
                        || hireDate.invalid || severity.invalid || status.invalid || description.invalid" 
                        (click)="updatePearson()">
                        Submit 
                    </button> -->
                    <button mat-raised-button color="primary" type="submit"
                    (click)="updatePearson()">
                    Submit 
                </button>
                    <!-- <button mat-raised-button color="warn" (click)="onClear()">Clear</button> -->
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>