<mat-toolbar style="margin: auto; width: 100%; background-color: white">
    <span>Add Issue</span>
    <!-- <span class="fill-remaining-space"></span> -->
    <button mat-icon-button color="warn" (click)="onClose()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form class="normal-form" >
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile>
            <div class="controlles-container">
                
                <mat-form-field>
                    <mat-select name="name" [(ngModel)]="searchName" (ngModelChange)="onChangeName($event)"
                     #pearsonName placeholder="Name" required>
                        <!-- <mat-option>None</mat-option> -->
                        <ng-container *ngIf="!second && !third">
                            <mat-option  *ngFor="let name of names" value="{{name}}" >{{name}}</mat-option>
                        </ng-container>
                        <mat-option *ngIf="second || third" value="{{name1}}">{{name1}}</mat-option>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <mat-select name="username" #pearsonUsername placeholder="Userame" (ngModelChange)="onChangeUsername($event)"
                    [(ngModel)]="searchUsername" required>
                        <ng-container *ngIf="!first && !third">
                            <mat-option  *ngFor="let username of usernames" value="{{username}}">{{username}}</mat-option>
                        </ng-container>
                        <mat-option *ngIf="first || third" value="{{username1}}">{{username1}}</mat-option>
                    </mat-select>    
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <mat-select name="email" #pearsonEmail placeholder="Email" (ngModelChange)="onChangeEmail($event)"
                    [(ngModel)]="searchEmail" required>
                            <ng-container *ngIf="!first && !second">
                                <!-- <mat-option>None</mat-option> -->
                                <mat-option  *ngFor="let email of emails" value="{{email}}">{{email}}</mat-option>
                            </ng-container>
                            <mat-option *ngIf="first || second" value="{{email1}}">{{email1}}</mat-option>
                    </mat-select>       
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <mat-select matInput name="location" #pearsonLocation  #regimeWidget placeholder="Location"
                    [(ngModel)]="searchLocation" required location (click)="getLocations()">
                        
                            <!-- <mat-option>None</mat-option> -->
                            <mat-option (click)="onCreate()">Add New</mat-option>
                            
                            <mat-option *ngFor="let location of locations" value="{{location.locname}}">{{location.locname}}</mat-option>
                            <!-- <ng-container *ngIf="location.value == 'Other'">
                                <input matInput>
                                <span>You selected "Other"</span>
                            </ng-container> -->
                        
                        <!-- <mat-option>Other</mat-option> -->
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <!-- <div *ngIf="regimeWidget.value == 1 " >
                    <mat-form-field>
                        <ng-container >
                            <input matInput name="locname" #locname formControlName="locname" placeholder="New Option" required>
                        </ng-container>
                        <mat-error>Field can't be empty.</mat-error>
                    </mat-form-field> 
                    <button mat-icon-button (click)="addLocation(locname.value)" [disabled]="locname.invalid">
                        <mat-icon>add</mat-icon>
                    </button>
                </div> -->
                                    
                <mat-form-field>
                    <input matInput name="hireDate" #pearsonHireDate [min]="minDate" [matDatepicker]="picker"
                    [(ngModel)]="searchHireDate" placeholder="Date" required hireDate>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Required field.</mat-error>
                </mat-form-field>

            </div>

        </mat-grid-tile>

        <mat-grid-tile>

            <div class="controlles-container">

                <mat-form-field>
                    <mat-select name="type" #pearsonType placeholder="Type" 
                    [(ngModel)]="searchType" required type>
                        <!-- <mat-option>None</mat-option> -->
                        <ng-container *ngFor="let type of types">
                            <mat-option value="{{type.value}}">{{type.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <mat-select name="severity" #pearsonSeverity placeholder="Severity" 
                    [(ngModel)]="searchSeverity" required severity>
                        <!-- <mat-option>None</mat-option> -->
                        <ng-container *ngFor="let severity of severity1">
                            <mat-option value="{{severity.value}}">{{severity.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <mat-select name="status" #pearsonStatus placeholder="Status"  required
                    [(ngModel)]="searchSatus" status>
                        <!-- <mat-option>None</mat-option> -->
                        <ng-container *ngFor="let status of status1">
                            <mat-option value="{{status.value}}">{{status.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <input matInput name="description" #pearsonDescription placeholder="Description"
                    [(ngModel)]="searchDescription" required description>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

                <mat-form-field>
                    <input matInput name="comment" #pearsonCommentee placeholder="Comment">
                </mat-form-field>

            </div>
        </mat-grid-tile>

    </mat-grid-list>

    <button mat-raised-button color="primary" 
    [disabled]="!searchUsername || !searchEmail || !searchLocation || !searchHireDate 
        || !searchType || !searchSeverity || !searchSatus || !searchDescription" type="submit" 
        (click)="addPearson(
        pearsonName.value, 
        pearsonUsername.value, 
        pearsonEmail.value, 
        pearsonLocation.value, 
        pearsonHireDate.value, 
        pearsonType.value,
        pearsonSeverity.value, 
        pearsonStatus.value, 
        pearsonDescription.value, 
        pearsonCommentee.value)">
        Submit
    </button>
</form>