<mat-toolbar>
  <span>Issue tracker</span>
  <a class="nav-link" routerLink="/home" style="cursor: pointer; margin-left: 20px;">Home</a>
  <a class="nav-link" routerLink="/issues" style="cursor: pointer; margin-left: 20px;">Issues</a>
  <span class="example-spacer"></span>
  <!-- <a class="nav-link" routerLink="/login" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Log In</a> -->
  <!-- <a class="nav-link" routerLink="/register" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Sign Up</a> -->
  <!-- <a class="nav-link" style="cursor: pointer; margin-left: 20px;" >Account</a>
  <a class="nav-link" style="cursor: pointer; margin-left: 20px;" >Sign Out</a> -->
</mat-toolbar>
<router-outlet></router-outlet>