  
  <!-- <div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-spinner mode="indeterminate" style="top: 50%; left: 50%;"></mat-progress-spinner>
  </div> -->

  <p align="center" style="margin-top: 20px;"><font size="50" color="#4C283D" face="bookman old style" >Basic information</font></p>

  <div class="search-div">

    <button mat-flat-button (click)="onCreate()" style=" margin-top: 20px; margin-left: 35px;">
      <mat-icon>add</mat-icon>Create
    </button>


    <button mat-flat-button (click)="customtoggle()" style="margin-left: 20px;">
      <mat-icon>settings</mat-icon>Customise
    </button>
    <mat-form-field style=" margin-top: 20px; margin-left: 20px;" [style.width.px]=327>
      <input matInput class="search" (keyup)="applyFilter($event.target.value)" placeholder="Search" #input>
    </mat-form-field>
    <div *ngIf="customClicked" style="margin-left: 40px; margin-top: 10px;">
      <h5>Uncheck the fields you want to remove</h5>
      <!-- <form [formGroup]="form">
        <ul>
          <li *ngFor="let cd of columnDefinitions">
            <mat-checkbox [formControlName]="cd.def">
              {{cd.label}}
            </mat-checkbox>
          </li>
        </ul>

      </form> -->
      <form [formGroup]="form">
        <ul>
          <!-- <li><mat-checkbox formControlName="name">Name</mat-checkbox></li> -->
          <li><mat-checkbox formControlName="username">Userame</mat-checkbox></li>
          <li><mat-checkbox formControlName="email">Email</mat-checkbox></li>
          <li><mat-checkbox formControlName="location">Location</mat-checkbox></li>
          <li><mat-checkbox formControlName="hireDate">Date</mat-checkbox></li>
          <li><mat-checkbox formControlName="type">Type</mat-checkbox></li>
          <li><mat-checkbox formControlName="severity">Severity</mat-checkbox></li>
          <li><mat-checkbox formControlName="status">Status</mat-checkbox></li>
          <li><mat-checkbox formControlName="description">Description</mat-checkbox></li>
          <li><mat-checkbox formControlName="comment">Comment</mat-checkbox></li>
        </ul>

      </form>
    </div>


  </div><br>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="name">
      <th class="all" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td class="all" mat-cell *matCellDef="let pearson"> {{pearson.name}} </td>
    </ng-container>


    <ng-container matColumnDef="username">
      <th class="all" mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td class="all" mat-cell *matCellDef="let pearson"> {{pearson.username}} </td>
    </ng-container>


    <ng-container matColumnDef="email">
      <th class="all" mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td class="all" mat-cell *matCellDef="let pearson"> {{pearson.email}} </td>
    </ng-container>


    <ng-container matColumnDef="location">
      <th class="all" mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td class="all" mat-cell *matCellDef="let pearson"> {{pearson.location}} </td>
    </ng-container>

    <ng-container matColumnDef="hireDate">
      <th class="all" mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
      <td mat-cell *matCellDef="let pearson"> {{pearson.hireDate | date : 'M/d/yy'}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th class="all" mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td class="all" mat-cell *matCellDef="let pearson"> {{pearson.type}} </td>
    </ng-container>

    <ng-container matColumnDef="severity">
      <th class="all" mat-header-cell *matHeaderCellDef mat-sort-header> Severity </th>
      <td class="all" mat-cell *matCellDef="let pearson"> {{pearson.severity}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th class="all" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td class="all" mat-cell *matCellDef="let pearson"> {{pearson.status}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th class="all1" mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td class="all1" mat-cell *matCellDef="let pearson"> {{pearson.description}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th class="all1" mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
      <td class="all1" mat-cell *matCellDef="let pearson">{{pearson.comment}}
        <!-- <input matInput type="text" value="{{pearson.comment}}" (focusout)="onFocusOutEvent($event, pearson)"> -->

      </td>
    </ng-container>

    <ng-container class="actions" matColumnDef="actions" style="width: 10px;">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let pearson">
        <!-- <button mat-icon-button color="primary" (click)="comment(pearson)"><mat-icon>comment</mat-icon></button>   -->
        <!-- <div *ngIf="pearson.status != 'Done'">
          <button mat-icon-button color="primary" (click)="onEdit(pearson)">
            <mat-icon>edit</mat-icon>
          </button>
        </div> -->
        <button mat-icon-button color="primary" (click)="onEdit(pearson)" [disabled]="pearson.status == 'Done'">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(pearson)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" 
    [ngClass]="{'make-done': row.status == 'Done', 
        'make-inpr': row.status == 'In progress',
        'make-notst': row.status == 'Not started'}"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching "{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



  <mat-divider></mat-divider>

