<div class="container" style="width: 65%">
    <h3 style="text-align: center;">
        <font color="#4C283D" face="bookman old style">
            This is a demonstration of an Issue Tracker web application created with Angular and Angular Material
            Design. It
            stores data locally. You can click Issues button to view the previously raised issues. You will also see
            Update
            icon button near to every entry, by clicking you will be able to update the issue or change the status.Click
            Create button to add some sample Issues.
        </font>

    </h3>
    <ul class="mt-4">
        <h3>
            <font color="#4C283D" face="bookman old style">
                To view issues click on Issues Button.
            </font>
        </h3>
    </ul>
    <ul class="mt-4">
        <h4>
            <font color="#4C283D" face="bookman old style">
                Developed by Ekaterina Filonenko
            </font><br>
            <font color="#4C283D" face="bookman old style">
                Mail: filonencko.ekaterina@gmail.com
            </font>
        </h4>
    </ul>
</div>

